.input-label {
  font-size: 18px;
  color: var(--gray-37474f);
}
.input {
  position: relative;
}

.input input {
  border-radius: 8px;
  padding: 10px 12px;
  width: 400px;
  border: 1.5px solid #d4d4d7;
  outline: none;
  color: var(--gray-37474f);
  font-size: 18px;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  color: var(--gray-37474f);
  cursor: pointer;
}
