.dashboard-container {
  display: flex;
}

.dash-left {
  padding: 24px;
  margin-top: 88px;
  flex: 1;
}

.dash-left-title,
.dash-right-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--orange-ff7506);
  margin-bottom: 20px;
}

.dash-left-parameter {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.dash-left-chart {
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 0px 8px #ededed;
  background: var(--white);
  margin-top: 24px;
}

.dash-left-chart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.dash-left-chart-header-title p {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  list-style: 30px;
  color: var(--gray-282739);
  margin-bottom: 4px;
}

.dash-left-chart-header-title span {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray-A9A9B0);
}

.dash-left-chart-header-filter {
  display: flex;
  align-items: center;
}

.dash-left-chart-header-filter .dash-left-chart-header-filter-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-282739);
  margin-right: 8px;
}

.dash-right {
  width: 400px;
  background-color: var(--white);
}

.dash-right-content {
  padding: 24px;
  margin-top: 88px;
  display: flex;
  flex-direction: column;
}

/* parameter */
.parameter-container {
  width: 186px;
  height: 120px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ededed;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parameter-title {
  display: flex;
}

.parameter-title-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.parameter-title-icon span {
  font-size: 24px;
}
.parameter-title-text {
  flex: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray-535261);
}

.parameter-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parameter-number-value {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  margin: 0;
}

.paramter-number-percent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 15px;
  border-radius: 8px;
}
.paramter-number-percent span {
  font-size: 8px;
  margin-right: 2px;
}
.paramter-number-percent p {
  font-size: 8px;
  font-weight: 400;
  margin: 0;
  line-height: 15px;
}

/* statistical */
.statistical {
  border-radius: 12px;
  width: 100%;
  box-shadow: 0px 0px 8px #ededed;
  display: flex;
  margin-bottom: 12px;
  padding: 12px 16px;
  justify-content: space-between;
  height: 83px;
}

.statistical-left {
  display: flex;
}

.statistical-left-param {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.statistical-left-value {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: var(--gray-535261);
  margin: 0;
}

.statistical-left-title {
  display: flex;
  align-items: center;
}

.statistical-left-title-icon {
  font-size: 14px;
  margin-right: 4px;
}

.statistical-left-title-text {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.statistical-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statistical-right-online,
.statistical-right-offline,
.statistical-right-miss {
  font-weight: 400;
  font-size: 12px;
  list-style: 21px;
  color: var(--gray-7E7D88);
  margin: 0;
  display: flex;
  align-items: center;
}

.statistical-right-online .dot,
.statistical-right-offline .dot,
.statistical-right-miss .dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 4px;
}

.statistical-right-online .dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--orange-ff7506);
}

.statistical-right-offline .dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--gray-7E7D88);
}

.statistical-right-miss .dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--green-35C75A);
}

.statistical-right-online span,
.statistical-right-offline span,
.statistical-right-miss span {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-left: 4px;
}

/* Calendar */
.calendar {
}
.calendar-container {
  display: flex;
  justify-content: center;
}

.popup-calendar {
}
