.menu-container {
  width: 200px;
  height: 100vh;
  background-color: var(--white);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.menu-container-img {
  padding: 32px 60px;
}

.menu-container-img img {
  width: 80px;
}

.menu-container-button {
  position: absolute;
  width: 100%;
  padding: 0 12px;
  bottom: 32px;
}

.menu-container-button button {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff2e7;
  color: var(--orange-ff7506);
  border: none;
  padding: 12px;
  cursor: pointer;
}
.menu-container-button button p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-left: 12px;
}

/* Menu option */

.menu-option {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  padding: 12px;
  color: var(--gray-7E7D88);
  cursor: pointer;
  position: relative;
}

.menu-option:hover {
  background-color: var(--orange-ff7506);
  color: var(--white);
}

.menu-option-icon {
  margin-right: 6px;
  font-size: 16px;
}

.menu-option-title {
  font-size: 16px;
}

.menu-suboption {
  position: absolute;
  right: -100%;
  list-style: none;
  top: 0;
  background-color: var(--white);
  width: 200px;
  border-radius: 0px 12px 12px 0px;
  box-shadow: 0px 0px 8px #ededed;
  padding: 0;
  display: none;
}

.menu-option:hover > .menu-suboption {
  color: var(--gray-535261);
  display: block;
}

.menu-suboption li {
  padding: 12px 16px;
}

.menu-suboption li:first-child {
  border-radius: 0 12px 0 0;
}

.menu-suboption li:last-child {
  border-radius: 0 0 12px 0;
}

.menu-suboption li:hover {
  background-color: var(--orange-ff7506);
  color: var(--white);
}
