@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap");

:root {
  --gray-37474f: #37474f;
  --gray-7E7D88: #7e7d88;
  --gray-535261: #535261;
  --gray-282739: #282739;
  --gray-A9A9B0: #a9a9b0;
  --orange-ff7506: #ff7506;
  --orange-FFF2E7: #fff2e7;
  --gray-f6f6f6: #f6f6f6;
  --white: #ffffff;
  --green-35C75A: #35c75a;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box-Shadow {
  box-shadow: 0px 0px 8px #ededed;
}

@import url("./components/login/Login.css");
